.Libros{
    text-align: center;
  }
  body{
    margin: auto;
  }
  
 /* Estilos generales para el contenedor de búsqueda */
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* Estilos para el input de búsqueda */
.searchBar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 1.2rem;
  outline: none;
  transition: border-bottom-color 0.3s;
}

.searchBar input[type="text"]:focus {
  border-bottom-color: #007bff; /* Cambia el color al enfocar */
}

/* Estilos para el botón de búsqueda */
.searchBar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.searchBar button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el cursor */
  border-color: #0056b3;
  color: white;
}

  
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }
  
  .movie{
    margin: 1rem 0.7rem;
    border: 1px solid black;
  }
  
  .movie img{
    width: 220px;
    height: 350px;
  }
  
  .movie-title{
    /* border: 1px solid black; */
    width: 220px;
    text-align:center;
  }
  
  .movie-title p{
    font-weight: bold;
  
  }
  
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  
  .pages {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  
  .pages b {
    border-radius: 5px;
    border: 1px solid black;
    padding: 1.5rem;
    margin: 0.5rem;
    transition: .5s;
  }
  
  .pages b:hover{
    background-color: black;
    color: white;
  }
  
  .actualPage {
    font-size: 1.5rem;
    background-color: black;
    color: white;
  }
  
  
  @media only screen and (max-width: 675px) {
    .movie{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* align-content: space-around; */
      margin: 1rem 0.5rem;
      border: 1px solid black;
      height: 320px;
    }
  
    .movie img{
      width: 140px;
      height: 210px;
    }
  
    .movie-title{
      font-size: 0.8rem;
      width: 140px;
      height: 70px;
    }
  
    .movie-detailsBtn {
      width: 100%;
      height: auto;
      font-size: 0.8rem;
      font-weight: bolder;
    }
  
    .modal-body{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 530px;
      font-size: 0.8rem;
    }
  
    .modal-closebtn {
      padding: 0.4rem 2rem;
      margin-bottom: 1rem;
      font-size: 0.8rem;
      bottom: 50%;
      border: 1px solid black;
      transition: .5s;
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
    .modal-closebtn:hover {
      background-color: black;
      color: white;
      border: 1px solid black;
    }
    
  }
  
  @media only screen and (min-width: 676px) and (max-width: 768px) {
    .searchBar{
      display: flex;
      justify-content: center;
    }
  
    .searchBar input[type=text] {
      width: 50%;
      height: 1.5rem;
      font-size: 2rem;
    }
    
    .searchBar button{
      padding: 0rem 2rem;
      font-weight: bold;
      font-size: 1.4rem;
    }
  
    .movie img{
      width: 180px;
      height: 250px;
    }
  
    .movie-title{
      font-size: 0.8rem;
      width: 180px;
      height: 65px;
    }
  
    .movie-detailsBtn {
      width: 100%;
      height: auto;
      font-size: 0.8rem;
      font-weight: bolder;
      margin-top: 0.5rem;
    }
  
    .modal-body{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 400px;
      font-size: 1rem;
    }
  
    .modal-img img{
      width: 200px;
      height: auto;
    }
  
  
    .pages {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      /* flex-wrap: wrap; */
    }
    
    .pages b {
      border-radius: 5px;
      border: 1px solid black;
      padding: 1rem;
      margin: 0.5rem;
    }
    
    .pages b:hover{
      background-color: white;
      color: black;
    }
    
    .actualPage {
      font-size: 1rem;
      background-color: black;
      color: white;
    }
  }